.catalog-card-box {
    display: inline-block;
    margin: 5px;
    width: 300px;
    min-width: 200px;
}

.catalog-card {
    display: flex;
}

.catalog-card-dark {
    color: #f5f5f5!important;
}

.catalog-card-light {
    color: #424242!important;
}

.catalog-card-box:nth-child(even) > .catalog-card-light {
    background: #f9c449!important;
}

.catalog-card-box:nth-child(odd) > .catalog-card-light {
    background: #ffffff!important;
}

.catalog-card-box:nth-child(even) > .catalog-card-dark {
    background: #424242!important;
}

.catalog-card-box:nth-child(odd) > .catalog-card-dark {
    background: #353535!important;
}