.cards-container {
    width: 100%;
    overflow-x: auto;
}

.card-container {
    display: flex!important;
    width: max-content!important;
    overflow: auto;
}

.app-card-dark {
    background-color: #424242e1!important;
    color: #f5f5f5!important;
}

.app-card-light {
    background-color: #f5f5f5e1!important;
    color: #424242!important;
}

.app-card {
    position: relative;
    margin: 0 5px;
    width: 250px;
    min-width: 250px;
    height: 200px;
}

.app-card-content {
    height: 200px;
    width: 250px;
    min-width: 250px;
    position: absolute;
}

.app-card-content img {
    width: 100%;
    height: 100%;
}

.transparency {
    box-shadow: inset 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    opacity: 0;
    transition: 0.3s!important;
}

.transparency:hover {
    opacity: 0.9;
}