.items-paper {
    overflow: 'hidden'!important;
    margin: 10px!important;
}

.items-table-conatiner {
    max-height: 440px!important;
}

.table-header-dark {
    background-color: #202020!important;
    color: #f5f5f5!important;
}

.table-header-light {
    background-color: #f5f5f5!important;
    color: #202020!important;
}

.table-cell-dark {
    background-color: #424242!important;
    color: #f5f5f5!important;
}

.table-cell-light {
    background-color: #f5f5f5!important;
    color: #424242!important;
}