.items-paper {
    overflow: 'hidden'!important;
    margin: 10px!important;
}

.items-list-conatiner {
    max-height: 440px!important;
    overflow-y: auto;
}

.items-list-item {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px 5px 20px;
    height: 112px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.items-list-item-light:nth-child(even) {
    background: #f9c449;
}

.items-list-item-light:nth-child(odd) {
    background: #ffffff;
}

.items-list-item-dark:nth-child(even) {
    background: #424242;
}

.items-list-item-dark:nth-child(odd) {
    background: #353535;
}

.item-image-button {
    padding: 0!important;
    position: relative;
    border-radius: 0;
}

.item-image-button-dark {
    background-color: #f5f5f5e1!important;
    color: #424242!important;
}

.item-image-button-light {
    background-color: #424242e1!important;
    color: #f5f5f5!important;
}

.item-image-container {
    margin: auto 0;
}

.item-description-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.item-image-button-container {
    width: 75px;
    height: 75px;
}

.item-image-button-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    top: 0;
    left: 0;
}

.transparency {
    box-shadow: inset 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    opacity: 0;
    transition: 0.3s!important;
}

.transparency:hover {
    opacity: 0.9;
}

.item-modal-box {
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
    padding: 20px;
    box-sizing: border-box;
}

.item-modal-box-dark {
    background-color: #424242!important;
    color: #f5f5f5!important;
    border-color: #f5f5f5;
}

.item-modal-box-light {
    background-color: #f5f5f5!important;
    color: #424242!important;
    border-color: #202020;
}

.item-modal-text-field {
    max-width: 300px;
    display: inline-block;
}

.modal-button-right {
    text-align: right;
}

#previewImg {
    height: 22px;
    position: relative;
    top: 5px;
    left: 15px;
}

.button-error {
    border-color: #f44336;
}

.modal-close-button {
    min-width: unset!important;
    padding: 0!important;
}

.modal-item-header-container {
    display: flex;
    justify-content: space-between;
}

.item-album-images, .item-preview-images {
    position: relative;
    display: inline-block;
    margin: 5px 10px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.item-album-image-icon, .item-preview-image-icon {
    color: #f5f5f5;
    background-color: #202020;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    opacity: 0;
    transition: 0.2s;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.item-album-image-remove, .item-preview-image-remove {
    right: -10px;
}

.item-album-image-general {
    left: -10px;
}

.item-album-images:hover .item-album-image-icon {
    opacity: 1;
}

.item-action-button {
    padding: 5px!important;
    display: block;
    margin: auto;
}

@media screen and (max-width: 425px) {
    .items-list-item {
        display: grid;
        height: unset;
    }

    .item-image-container {
        margin: 0 auto;
    }

    .item-description-container {
        padding: 0;
    }

    .item-action-button-container {
        display: flex;
    }
}

@media screen and (max-width: 400px) {
    .item-modal-box {
        min-width: 100%!important;
        border: none;
    }
}
  
@media screen and (min-width: 401px) {
    .item-modal-box {
        min-width: 400px!important;
        border: 2px solid;
        border-radius: 4px;
    }
}